* {
	font-family: "Press Start 2P", cursive;
}

h2 {
	font-size: 20px;
}

#game-container {
	display: flex;
	width: 960px;
	height: 400px;
	margin: auto;
	border: 6px solid black;
	border-radius: 30px;
	overflow: hidden;
}

#game-area {
	flex: 1;
	background-image: url(images/8bit\ sky.jpg);
	background-size: cover;
}

#game-target {
	background-image: url(images/target.png);
	background-size: cover;
	display: none;
	position: relative;
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	background-color: rgba(255, 255, 255, 0);
	border-radius: 100%;
	cursor: pointer;
}

#bonus-target {
	background-image: url(images/balloon\ gold.jpg);
	background-size: cover;
	display: none;
	position: relative;
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	background-color: rgba(255, 255, 255, 0);
	border-radius: 100%;
	cursor: pointer;
}

#game-target img {
	width: 100%;
	height: 100%;
}

#game-popup-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#game-popup-text {
	border: 5px solid black;
	background-color: bisque;
	border-radius: 30px;
	padding: 20px;
	max-width: 51%;
	cursor: pointer;
}

#score-display {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 0.3;
	height: 100%;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10%;

	border-left: 6px solid black;

	background-color: bisque;
}

#score-display p,
h2 {
	margin: auto 0;
}
